.footer{
    padding: 2em;
}
.footer-titulo{
    color: var(--azul);
    font-weight: 700;
    font-size: 18px;
}
.footer-texto{
    color: var(--azul);
    font-weight: 400;
    margin: 1em 0 2em 0;

}
.cadastro-botao{
    background-color: transparent;
    border: 1px solid var(--azul);
    color: var(--azul);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}
.cadastro-botao::placeholder{
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: 400;
    color: var(--azul);
    background: url(../IMG/Email.svg) no-repeat;
    background-position: 1em;
    padding-left: 3em;
}
.grupo-alura{
    border-top: solid 1px;
    padding: 2em;
    font-size: 18px;
    font-weight: 400;
}
.lista-rodape{
    display: none;
}

@media screen and (min-width: 1024px){
    .lista-rodape{
        display: block;
    }
    .cadastro-botao{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer{
        display: flex;
        justify-content: center;
    }
    .contato{
        width: 30%;
        margin-left: 1em;
    }
    .footer-titulo{
        font-size: 24px;
    }
    .contato_texto{
        width:30%;
    }
    .grupo-alura{
        display: flex;
        justify-content: space-between;
    }
    .lista-rodape_titulo{
        color: var(--cinza-calor);
        font-size: 14px;
    }
    .lista-rodape_item{
        align-items: center;
        display: flex;
        margin: 0.6em 0;
    }
    .lista-rodape_item a{
        text-decoration: none;
        color: var(--cinza);
        margin-left: 0.6em;
    }
    .grupo-alura{
        font-size: 24px;
    }
}
@media screen and (min-width: 1728px) {
    .footer{
        padding: 3em 20vw;
    }
    .lista-rodape{
        border-left: solid 1px var(--cinza-calor);
        padding-left: 1em;
    }
    .grupo-alura{
        padding: 3em 0;
    }
}